{% load static from static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitors</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="wrapper">
        {% if user.is_authenticated %}
        <h1><a href="{% url 'visitors:list' %}">Visitor List Page</a></h1>
        <h1><a href="{% url 'visitors:report' %}">Report</a></h1>
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type = "submit">Logout</button>
                    </form>
                </li>
                <li>
                    <a href="{% url 'visitors:register' %}" class="highlight">Register Visitor</a>
                </li>
            </ul>
        </nav>
        {% else %}
        <nav>
            <ul>
                <li><a href="{% url 'accounts:login'%}">Login</a></li>
                <li><a href="{% url 'accounts:signup'%}">Signup</a></li>
        {% endif %}
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
