{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitors</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <div class="wrapper">
        <h1><a href="{% url 'visitors:list' %}">Visitor Page</a></h1>
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type = "submit">Logout</button>

                    </form>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
